.manga-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0.5rem;
  background: #1c1c1c;
  color: #fff;

  /* column-count: 2;
    column-gap: 1rem; */
}

.manga-list__img {
  border-radius: 10px;
}

.manga-list h2 {
  margin-top: 0.5rem;
  font-family: inherit;
}